Checks: >
  modernize-*,
  readability-*,
  -readability-identifier-length,
  bugprone-*,
  misc-const-correctness,
  misc-unused-*,
  performance-*,
  cppcoreguidelines-*,
  -cppcoreguidelines-pro-type-member-init,
WarningsAsErrors: "*"
HeaderFilterRegex: "^(./src|./include)/"
CheckOptions:
  - key: modernize-use-nullptr.NullPointers
    value: "nullptr"
  - key: readability-braces-around-statements.ShortStatementLines
    value: 1

ExtraArgs:
  - "-std=c++17"
# Use ExtraArgsBefore to set external dependencies as system headers.
ExtraArgsBefore:
  - "-isystem./subprojects/uWebSockets-v20.74.0/src"
  - "-isystem./subprojects/uSockets-833497e8e0988f7fd8d33cd4f6f36056c68d225d/src"
  - "-isystem./subprojects/libuv-v1.49.1"
  - "-isystem./subprojects/zlib-1.3.1"

InheritParentConfig: true
